<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>{{ .Title }}</title>


  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="/assets/css/theme.css" rel="stylesheet" />

</head>


<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">

    {{ partial "header" . }}

    <br><br>

    <!-- ============================================ -->
    <!-- {{ partial "features-1" . }} -->
  <main>
    <div class="bg-purple-25 py-12">
    <div class="container flex flex-row">
      <section class="flex-1 lg:pr-8 xl:pr-40">
        <div class="rich-text text-lg text-purple-900">
          <h1>Smarter Guardians Proxy - Privacy policy</h1><p></p><p>
            <em>Last modified: August 22nd, 2023</em></p>
            <p>This sub-policy is an integral part of the 
              <a rel="noopener noreferrer" target="_blank" href="/privacy">Smarter Guardians Privacy Policy<span class="sr-only">(new window)</span></a>.
               It details the data processing activities specifically related to the creation and activity of your Smarter Guardians Account when you use <a href="/" rel="noopener noreferrer">Smarter Guardians Proxy</a>.</p><p><strong>Account activity: </strong>
                Smarter Guardians Proxy is a no-logs Proxy service. When you use the Service, we do NOT do any of the following:</p>
                <ul class="list-disc pl-5">
                  <li>Log users' traffic or the content of any communications</li>
                  <li>Discriminate against devices, protocols, or applications</li>
                  <li>Throttle your Internet connection</li></ul>
                  <p>Our free Proxy service is also covered by our no-logs policy, and has in general no speed restrictions. We do reserve the right to impose speed restrictions in cases of excessive consumption in order to ensure service quality for all users on free servers.</p>
                  <p>You can find details about our <a rel="noopener noreferrer" target="_self" href="/support/no-logs-Proxy/">no-logs Proxy policy here</a>.
                  </p><p>All Smarter Guardians Proxy servers are encrypted and we do not log Proxy session data.</p><p><strong>Transparency report:</strong>
               Information about law enforcement data requests can be found in the 
               <a rel="noopener noreferrer" target="_self" href="/blog/transparency-report/">Smarter Guardians Proxy Transparency Report and Warrant Canary</a>.
              </p><p><strong>Data security: </strong>
                All information required to maintain your account are managed by servers that are wholly owned and operated by Smarter Guardians or our subsidiaries. This data is always stored in encrypted format on our servers, 
                which are exclusively located in Switzerland or Germany, under the protection of some of the world's strongest privacy laws. 
                Furthermore, Smarter Guardians physically owns and operates all Secure Core servers, 
                and a majority of our Proxy servers in Switzerland and Germany (Smarter Guardians owned servers can be identified by IP addresses which identify Smarter Guardians AG as the internet service provider). All Smarter Guardians Proxy servers, irrespective of location, utilize full-disk encryption,
                 and in the highly unlikely event that the full-disk encryption is compromised, Smarter Guardians Proxy servers also contain no logs and no user data.</p></div></section><aside class="hidden w-1/4 border-gray-100 lg:block lg:border-l-2"></aside>
                </div>
              </div>
              </main>
    <!-- ============================================ -->


  

    <!-- ============================================-->
    {{ partial "mailing" . }}
    <!-- ============================================-->
    {{ partial "footer" . }}
    <!-- ============================================-->

  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->




  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="/vendors/@popperjs/popper.min.js"></script>
  <script src="/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="/vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="/assets/js/theme.js"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    rel="stylesheet">
</body>

</html>