<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{{ .Title }}</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    {{ partial "favicon" . }}

    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/assets/css/theme.css" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

      {{ partial "header" . }}

      <br><br>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-6">

        <div class="container">
          <div class="row flex-center">
            <div class="col-lg-6 col-md-5 order-md-1"><img class="img-fluid" src="/assets/img/illustrations/1.png" alt="" /></div>
            <div class="col-md-7 col-lg-6 mt-5 text-center text-md-start">
              <h1 class="fw-medium">Want anything to be<br />easy with <span class="fw-bold">Smarter Guardians.</span></h1>
              <p class="mt-3 mb-4">Provide a network for all your needs with ease and fun using <span class="fw-medium">Smarter Guardians </span>discover interesting features from us.Most people make the mistake of forcing themselves to network.Or they pretend to be outgoing to make new connections. </p><a class="btn btn-lg btn-danger hover-top btn-glow" href="{{ .Site.Params.signupLink }}">Get Started </a>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-4">

        <div class="container">
          <div class="card py-5 border-0 shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="border-end d-flex justify-content-md-center">
                    <div class="mx-2 mx-md-0 me-md-5">
                      <div class="badge badge-circle bg-soft-danger">
                        <svg class="bi bi-person-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F53838" viewBox="0 0 16 16">
                          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <p class="fw-bolder text-1000 mb-0">90k+ </p>
                      <p class="mb-0">Users </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="border-end d-flex justify-content-md-center">
                    <div class="mx-2 mx-md-0 me-md-5">
                      <div class="badge badge-circle bg-soft-danger">
                        <svg class="bi bi-geo-alt-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F53838" viewBox="0 0 16 16">
                          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <p class="fw-bolder text-1000 mb-0">30+ </p>
                      <p class="mb-0">Location </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-md-center">
                    <div class="mx-2 mx-md-0 me-md-5">
                      <div class="badge badge-circle bg-soft-danger">
                        <svg class="bi bi-hdd-stack-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F53838" viewBox="0 0 16 16">
                          <path d="M2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1z"></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <p class="fw-bolder text-1000 mb-0">50+ </p>
                      <p class="mb-0">Servers</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-100 py-7 text-center">

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5">
              <h2>Huge Global Network<br />of Fast Proxies.</h2>
              <p>See Smarter Guardians everywhere to make it easier for you when you move locations.</p>
            </div>
            <div class="pt-8"><img class="img-fluid" src="/assets/img/gallery/map.png" alt="" /></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-5 bg-100">

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-md-0"><img class="img-fluid" src="/assets/img/gallery/netflix.png" alt="" height="50" /></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-md-0"><img class="img-fluid" src="/assets/img/gallery/reddit.png" alt="" height="50" /></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-md-0"><img class="img-fluid" src="/assets/img/gallery/amazon.png" alt="" height="50" /></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-sm-0"><img class="img-fluid" src="/assets/img/gallery/discord.png" alt="" height="50" /></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-sm-0"><img class="img-fluid" src="/assets/img/gallery/spotify.png" alt="" height="50" /></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

 
      <section class="py-4">
        <div class="container">

            <div class="row"> <br><br>
              <center><br><br><h1>Why use Proxies</h1><br><br></center><br><br>
                <!-- Column 1 -->
                <div class="col-md-4 mb-4">
                    <div class="feature-box">
                        <i class="fas fa-lock fa-3x text-danger"></i>
                        <h3>Secure your internet connection</h3>
                        <p>Our secure VPN sends your internet traffic through an encrypted VPN tunnel to keep your browsing data safe, even over public or untrusted internet connections.</p>
                    </div>
                </div>
                <!-- Column 2 -->
                <div class="col-md-4 mb-4">
                    <div class="feature-box">
                        <i class="fas fa-shield-alt fa-3x text-danger"></i>
                        <h3>Keep your data private</h3>
                        <p>As a Swiss VPN provider, we do not log user activity or share data with third parties. Our anonymous VPN service keeps your browsing history private and enables an internet without surveillance.</p>
                    </div>
                </div>
                <!-- Column 3 -->
                <div class="col-md-4 mb-4">
                    <div class="feature-box">
                        <i class="fas fa-globe fa-3x text-danger"></i>
                        <h3>Access to all the internet</h3>
                        <p>We created Proton VPN to further protect the journalists, activists, and everyday citizens who use Proton Mail. Proton VPN breaks down the barriers of internet censorship, allowing you to access restricted online content.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="centered-section">
      <div class="container">
          <h2 class="section-heading">Internet security for everyone</h2>
          <p class="section-paragraph">Our goal is to make online privacy accessible to all. We have focused on making the advanced security technology in Proton VPN easy to use and freely available.</p>
      </div>
  </section>
  <section class="two-column-section">
    <div class="container">
        <div class="row">
            <!-- Column 1: Image -->
            <div class="col-md-6">
                <img src="/assets/img/illustrations/4.PNG" alt="Proton VPN" class="img-fluid">
            </div>
            <!-- Column 2: Text Content -->
            <div class="col-md-6">
                <div class="content-box">
                    <h2 style="color:black">Multi-platform support</h2>
                    <p style="color:black">Proton VPN is available on all your devices, including PCs, Macs, smartphones, and even routers.</p>
                    <p style="color:black">A secure internet connection you can trust is essential to maintaining your privacy on your laptop at home, your mobile device on the road, or your workstation at the office.</p>
                    <p style="color:black">Proton VPN has native apps for Windows, macOS, Linux, Chromebook, Android, Android TV and iOS/iPadOS.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-column-section">
  <div class="container">
      <div class="row">
          <!-- Column 1 -->
          <div class="col-md-4">
              <div class="content-box">
                  <h2 style="color:black">Free VPN</h2>
                  <p  style="color:black">We believe privacy and security are fundamental human rights, so we also provide a free version of Proton VPN to the public.</p>
                  <p  style="color:black">Unlike other free VPNs, there are no catches. We don't serve ads or secretly sell your browsing history. We are able to provide Proton VPN Free thanks to people who subscribe to a Proton VPN paid plan.</p>
                  <p  style="color:black">If you would like to support online privacy, please consider upgrading to a paid plan for faster speeds and more features.</p>
              </div>
          </div>
          <!-- Column 2 -->
          <div class="col-md-4">
              <div class="content-box">
                  <h2  style="color:black">Easy to use</h2>
                  <p  style="color:black">The best security tools in the world will only protect you if used correctly and consistently.</p>
                  <p  style="color:black">We have simplified the Proton VPN interface to make it as intuitive as possible on all of your devices — so you can stay protected every day, hassle free.</p>
              </div>
          </div>
          <!-- Column 3 -->
          <div class="col-md-4">
              <div class="content-box">
                  <h2  style="color:black">Reliable</h2>
                  <p  style="color:black">Bypass government censorship and other content restrictions with Proton VPN. Simply connect to one of our VPN servers located in a country that doesn’t censor the internet.</p>
                  <p  style="color:black">We’ve developed a new VPN protocol, Stealth, that can avoid detection and let you bypass internet censorship and VPN blocks.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="row-with-gradient">
  
  <img src="/assets/img/illustrations/5.avif" style="margin-top:-200px" alt="Proton VPN" class="img-fluid">
  <BR><BR>
  <div class="container">
    
      <div class="row">
          <!-- Column 1 -->
          <div class="col-md-4">
              <div class="content-box">
                  <h2>Stream from anywhere</h2>
                  <p>Proton VPN unblocks a wide selection of popular online media services, allowing you to access your favorite streaming content from anywhere in the world as if you were at home.</p>
                  <p>Our fast server network and unique VPN Accelerator technology also ensure your experience is smooth and free of buffering.</p>
              </div>
          </div>
          <!-- Column 2 -->
          <div class="col-md-4">
              <div class="content-box">
                  <h2>Fast VPN speeds</h2>
                  <p>Proton VPN uses a 10 Gbps server network combined with our unique suite of VPN Accelerator technologies to improve speeds by up to 400%.</p>
                  <p>We use an advanced network TCP flow control algorithm to provide unparalleled performance and connection stability without compromising on security.</p>
              </div>
          </div>
          <!-- Column 3 -->
          <div class="col-md-4">
              <div class="content-box">
                  <h2>VPN Accelerator</h2>
                  <p>VPN Accelerator is a set of technologies unique to Proton VPN that can increase your VPN speeds by up to 400%.</p>
                  <p>We created VPN Accelerator to dramatically increase speed and performance by overcoming CPU limitations, using advanced networking techniques, and redesigning VPN protocols themselves.</p>
              </div>
          </div>
          <center><h2 style="color:white"><br><Br>Stream movies with a fast VPN<br><Br></h2></center>
        </div>
  </div>
</section>
<section class="two-column-section">
  <div class="container">
      <div class="row">
          <!-- Column 1: Image -->
          <div class="col-md-6">
              <img src="/assets/img/illustrations/h.avif" alt="Proton VPN" class="img-fluid">
          </div>
          <!-- Column 2: Text Content -->
          <div class="col-md-6">
              <div class="content-box">
                  <h2 style="color:black">Unblock content worldwide</h2>
                  <p style="color:black">Proton VPN has thousands of secure VPN servers all around the world, including several free VPN servers.</p>
                  <p style="color:black">This ensures there is always a high-bandwidth server nearby no matter where you are connecting from, providing a low-latency VPN connection for browsing, streaming, and bypassing censorship.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="two-column-section">
  <div class="container">
      <div class="row">
          <!-- Column 1: Image -->
         
          <!-- Column 2: Text Content -->
          <div class="col-md-6">
             
                  <h2 style="color:black">We are the scientists, engineers, and cryptographers who built Proton Mail</h2>
                  <p style="color:black">The world's largest encrypted email service.
<br><br>
                    Our story begins where the web was born - at CERN, where our founding team of scientists met.
                    <br><br>
                    Like Proton Mail, Proton VPN is a community supported project with a simple goal: to build a safer internet that also protects civil liberties.</p>
         
              
          </div>
          <div class="col-md-6">
            <img src="/assets/img/illustrations/7.avif" alt="Proton VPN" class="img-fluid">
        </div>
      </div>
  </div>
</section>
      
<section class="two-column-section">
  <div class="container">
      <div class="row">
          <!-- Column 1: Image -->
         
          <!-- Column 2: Text Content -->
          <div class="col-md-12 text-center">
             
                  <h2 style="color:black">Unique features for a more secure VPN</h2>
                  <p style="color:black">The world's largest encrypted email service.
<br><br>
Unlike other VPN services, Proton VPN is designed with security as the main focus, drawing upon the lessons we have learned from working with journalists and activists in the field.
              
          </div>
        
      </div>
  </div>
</section>
<section class="three-column-section">
  <div class="container">
      <div class="row">
          <!-- Column 1 -->
          <div class="col-md-4">
              <div class="feature-box">
                  <i class="fas fa-shield-alt icon-decorate fa-3x text-danger"></i> <!-- Icon -->
                  <h3>Secure Core</h3> <!-- Heading -->
                  <p>Regular VPN services can be compromised if their servers are under surveillance. Proton VPN mitigates this by passing your traffic through our Secure Core network in privacy-friendly countries like Switzerland and Iceland first.</p> <!-- Content -->
              </div>
          </div>
          <!-- Column 2 -->
          <div class="col-md-4">
              <div class="feature-box">
                  <i class="fas fa-lock icon-decorate fa-3x text-danger"></i> <!-- Icon -->
                  <h3>Perfect Forward Secrecy</h3> <!-- Heading -->
                  <p>Proton VPN exclusively uses ciphers with Perfect Forward Secrecy, meaning your encrypted traffic can’t be captured and decrypted later.</p> <!-- Content -->
              </div>
          </div>
          <!-- Column 3 -->
          <div class="col-md-4">
              <div class="feature-box">
                  <i class="fas fa-shield-virus icon-decorate fa-3x text-danger" ></i> <!-- Icon -->
                  <h3>NetShield Ad-blocker</h3> <!-- Heading -->
                  <p>NetShield is a DNS filtering feature that protects you from malware, blocks ads, and prevents website trackers from following you as you surf the web.</p> <!-- Content -->
              </div>
          </div>
      </div>
  </div>
</section>
     
      <section class="three-column-section ">
        <div class="container">
            <div class="row">
        
               
                
              
                <div class="col-md-4">
                    <div class="feature-box">
                        <i class="fas fa-map-marker-alt icon-decorate fa-3x text-danger"></i> <!-- Icon -->
                        <h3>Swiss Based</h3> <!-- Heading -->
                        <p>We are headquartered in Switzerland, which has some of the world's strongest privacy laws. Switzerland is also outside of EU and US jurisdiction and is not a member of the 14 eyes surveillance network.</p> <!-- Content -->
                    </div>
                </div>
                <!-- Additional Column -->
                <div class="col-md-4">
                    <div class="feature-box">
                        <i class="fas fa-file-alt icon-decorate fa-3x text-danger"></i> <!-- Icon -->
                        <h3>No-Logs Policy</h3> <!-- Heading -->
                        <p>Proton VPN is a no logs VPN service. We do not track or record your internet activity, and therefore we are unable to disclose this information to third parties.</p> <!-- Content -->
                    </div>
                </div>
                <!-- Additional Column -->
                <div class="col-md-4">
                    <div class="feature-box">
                        <i class="fas fa-globe icon-decorate fa-3x text-danger"></i> <!-- Icon -->
                        <h3>Tor over VPN</h3> <!-- Heading -->
                        <p>Proton VPN also integrates with the Tor anonymity network. With a single click, you can route all your traffic through the Tor network and access Onion sites.</p> <!-- Content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
      
    <section class="three-column-section">
      <div class="container">
          <div class="row">
              <!-- Column 1 -->
              <div class="col-md-4">
                  <div class="feature-box">
                      <i class="fas fa-infinity icon-decorate fa-3x text-danger"></i> <!-- Icon -->
                      <h3>Unlimited Bandwidth</h3> <!-- Heading -->
                      <p>We place no restrictions on how much data you can use when connected to our service. Even if you’re on our Free plan.</p> <!-- Content -->
                  </div>
              </div>
              <!-- Column 2 -->
              <div class="col-md-4">
                  <div class="feature-box">
                      <i class="fas fa-tachometer-alt icon-decorate fa-3x text-danger"></i> <!-- Icon -->
                      <h3>High-speed</h3> <!-- Heading -->
                      <p>Our network of high-speed VPN servers offers connections up to 10 Gbps.</p> <!-- Content -->
                  </div>
              </div>
              <!-- Column 3 -->
              <div class="col-md-4">
                  <div class="feature-box">
                      <i class="fas fa-laptop icon-decorate fa-3x text-danger"></i> <!-- Icon -->
                      <h3>Up to 10 Devices</h3> <!-- Heading -->
                      <p>Use Proton VPN on up to 10 devices or browsers (via our browser extension) at the same time.</p> <!-- Content -->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="two-column-section red-background">
    <div class="container">
        <div class="row">
            <!-- Column 1: Picture -->
            <div class="col-md-6">
                <img src="/assets/img/illustrations/a-3.png" alt="Proton VPN Logo" class="img-fluid">
            </div>
            <!-- Column 2: Text and Buttons -->
            <div class="col-md-6">
                <div class="text-content">
                  <img src="/assets/img/illustrations/smarterguide icon.png" width="50px" alt="Proton VPN Logo" class="img-fluid">
                 <br><br>   <h3>Proton VPN was built by the team behind Proton Mail, the world’s largest encrypted email service</h3>
                    <div class="button-group">
                        <a href="#" class="app-store-btn"><img src="/assets/img/app-store-icon.jpg" width="100px" alt="App Store"></a>
                        <a href="#" class="play-store-btn"><img src="/assets/img/play-store-icon.png" width="100px" alt="Play Store"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-7">

        <div class="container">
          <div class="row flex-center">
            <div class="col-md-8 col-lg-5 text-center">
              <h2>Trusted by Thousands of<br />Happy Customer</h2>
              <p>These are the stories of our customers who have joined us with great pleasure when using this crazy feature.</p>
            </div>
          </div>
          <div class="carousel slide pt-6" id="carouselExampleDark" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100">
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center"><img class="img-fluid" src="/assets/img/gallery/user-1.png" alt="" />
                            <div class="flex-1 ms-3">
                              <h6 class="mb-0 fs--1 text-1000 fw-medium">Viezh Robert</h6>
                              <p class="fs--2 fw-normal mb-0">arsaw, Poland</p>
                            </div>
                          </div>
                          <div class="d-flex align-items-center"><span class="text-900 me-3">4.5</span>
                            <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FEA250" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"> </path>
                            </svg>
                          </div>
                        </div>
                        <p class="card-text pt-3">“Wow...I am very happy to use this Guardians, it turned out to be more than my expectations and so far there have been no problems. Smart Guardians always the best”.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center"><img class="img-fluid" src="/assets/img/gallery/user-2.png" alt="" />
                            <div class="flex-1 ms-3">
                              <h6 class="mb-0 fs--1 text-1000 fw-medium">Kim Young Jou</h6>
                              <p class="fs--2 fw-normal mb-0">Seoul, South Korea</p>
                            </div>
                          </div>
                          <div class="d-flex align-items-center"><span class="text-900 me-3">5</span>
                            <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FEA250" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"> </path>
                            </svg>
                          </div>
                        </div>
                        <p class="card-text pt-3">“I like it because I like to travel far and still can connect with high speed.”</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center"><img class="img-fluid" src="/assets/img/gallery/user-3.png" alt="" />
                            <div class="flex-1 ms-3">
                              <h6 class="mb-0 fs--1 text-1000 fw-medium">Viezh Robert</h6>
                              <p class="fs--2 fw-normal mb-0">Shanxi, China</p>
                            </div>
                          </div>
                          <div class="d-flex align-items-center"><span class="text-900 me-3">4.8</span>
                            <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FEA250" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"> </path>
                            </svg>
                          </div>
                        </div>
                        <p class="card-text pt-3">like it because I like to travel far and still can connect with high speed”.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="row h-100">
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center"><img class="img-fluid" src="/assets/img/gallery/user-1.png" alt="" />
                            <div class="flex-1 ms-3">
                              <h6 class="mb-0 fs--1 text-1000 fw-medium">Viezh Robert</h6>
                              <p class="fs--2 fw-normal mb-0">arsaw, Poland</p>
                            </div>
                          </div>
                          <div class="d-flex align-items-center"><span class="text-900 me-3">4.5</span>
                            <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FEA250" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"> </path>
                            </svg>
                          </div>
                        </div>
                        <p class="card-text pt-3">“Wow...I am very happy to use this Guardians, it turned out to be more than my expectations and so far there have been no problems. Smart Guardians always the best”.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center"><img class="img-fluid" src="/assets/img/gallery/user-2.png" alt="" />
                            <div class="flex-1 ms-3">
                              <h6 class="mb-0 fs--1 text-1000 fw-medium">Kim Young Jou</h6>
                              <p class="fs--2 fw-normal mb-0">Seoul, South Korea</p>
                            </div>
                          </div>
                          <div class="d-flex align-items-center"><span class="text-900 me-3">5</span>
                            <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FEA250" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"> </path>
                            </svg>
                          </div>
                        </div>
                        <p class="card-text pt-3">“I like it because I like to travel far and still can connect with high speed.”</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center"><img class="img-fluid" src="/assets/img/gallery/user-3.png" alt="" />
                            <div class="flex-1 ms-3">
                              <h6 class="mb-0 fs--1 text-1000 fw-medium">Viezh Robert</h6>
                              <p class="fs--2 fw-normal mb-0">Shanxi, China</p>
                            </div>
                          </div>
                          <div class="d-flex align-items-center"><span class="text-900 me-3">4.8</span>
                            <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FEA250" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"> </path>
                            </svg>
                          </div>
                        </div>
                        <p class="card-text pt-3">like it because I like to travel far and still can connect with high speed”.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center"><img class="img-fluid" src="/assets/img/gallery/user-1.png" alt="" />
                            <div class="flex-1 ms-3">
                              <h6 class="mb-0 fs--1 text-1000 fw-medium">Viezh Robert</h6>
                              <p class="fs--2 fw-normal mb-0">arsaw, Poland</p>
                            </div>
                          </div>
                          <div class="d-flex align-items-center"><span class="text-900 me-3">4.5</span>
                            <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FEA250" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"> </path>
                            </svg>
                          </div>
                        </div>
                        <p class="card-text pt-3">“Wow...I am very happy to use this Guardians, it turned out to be more than my expectations and so far there have been no problems. Smart Guardians always the best”.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center"><img class="img-fluid" src="/assets/img/gallery/user-2.png" alt="" />
                            <div class="flex-1 ms-3">
                              <h6 class="mb-0 fs--1 text-1000 fw-medium">Kim Young Jou</h6>
                              <p class="fs--2 fw-normal mb-0">Seoul, South Korea</p>
                            </div>
                          </div>
                          <div class="d-flex align-items-center"><span class="text-900 me-3">5</span>
                            <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FEA250" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"> </path>
                            </svg>
                          </div>
                        </div>
                        <p class="card-text pt-3">“I like it because I like to travel far and still can connect with high speed.”</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center"><img class="img-fluid" src="/assets/img/gallery/user-3.png" alt="" />
                            <div class="flex-1 ms-3">
                              <h6 class="mb-0 fs--1 text-1000 fw-medium">Viezh Robert</h6>
                              <p class="fs--2 fw-normal mb-0">Shanxi, China</p>
                            </div>
                          </div>
                          <div class="d-flex align-items-center"><span class="text-900 me-3">4.8</span>
                            <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FEA250" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"> </path>
                            </svg>
                          </div>
                        </div>
                        <p class="card-text pt-3">like it because I like to travel far and still can connect with high speed”.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row px-3 px-md-0 mt-4">
              <div class="col-6 position-relative">
                <ol class="carousel-indicators">
                  <li class="active" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
                  <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
                </ol>
              </div>
              <div class="col-6 position-relative"><a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a></div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




   
      {{ partial "carousel" . }}



      <!-- ============================================-->
      <!-- <section> begin ============================-->
        {{ partial "mailing" . }}
        <!-- ============================================-->
        {{ partial "footer" . }}
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

 <!-- ===============================================-->
    <!--    JavaScripts -->
  <script src="/vendors/@popperjs/popper.min.js"></script>
  <script src="/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="/vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="/assets/js/theme.js"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    rel="stylesheet">

   
    
  </body>

</html>