<section class="mt-n10">
    <div class="container">
        <div class="text-center ">
            <div class="text-center ">
                <p class="fs-6">Why use a Proxy</p>
            </div>
        </div>
        <div class="row d-flex flex-row mt-6">
            <div class="col-12 col-md-4 gap-2">
                <div class="card border-0">
                    <div class="d-flex flex-row m-2">
                        <div class="badge badge-circle bg-soft-danger ml-2 text-black">
                            <svg class="ml-2 bi bi-person-fill" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#63ff0e" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                        </div>

                        <h5 class="card-title mt-2 ml-3">Secure your internet connection</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Our secure proxy sends your internet traffic through an encrypted proxy tunnel
                            to keep your browsing data safe, even over public or untrusted internet connections.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="d-flex flex-row m-2 gap-2">
                        <div class="badge badge-circle bg-soft-danger ml-2 text-black">
                            <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                        </div>
                        <h5 class="card-title mt-2">Keep your data private</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">As a Swiss proxy provider, we do not log user activity or share data with
                            third parties. Our anonymous proxy service keeps your browsing history private and enables an
                            internet without surveillance.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="d-flex flex-row m-2 gap-2">
                        <div class="badge badge-circle bg-soft-danger ml-2 text-black">
                        
                        <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10" />
                            <path d="M12 8l4 4-4 4M8 12h7" />
                        </svg>
                        </div>
                        <h5 class="card-title mt-2 ml-1">Access to all the internet</h5>
                    </div>

                    <div class="card-body">
                        <p class="card-text ">We created Smarter Guardians Proxy to further protect the journalists, activists, and
                            everyday citizens who use Proton Mail. Smarter Guardians Proxy breaks down the barriers of internet
                            censorship, allowing you to access restricted online content.p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>