<!-- <section> begin ============================-->
<section class="py-5 bg-100">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-md-0"><img class="img-fluid"
                    src="/assets/img/gallery/netflix.png" alt="" height="50" /></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-md-0"><img class="img-fluid"
                    src="/assets/img/gallery/reddit.png" alt="" height="50" /></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-md-0"><img class="img-fluid"
                    src="/assets/img/gallery/amazon.png" alt="" height="50" /></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-sm-0"><img class="img-fluid"
                    src="/assets/img/gallery/discord.png" alt="" height="50" /></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-sm-0"><img class="img-fluid"
                    src="/assets/img/gallery/spotify.png" alt="" height="50" /></div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->