<!-- <section> begin ============================-->
<section class="py-5 z-index-1" style="margin-bottom: -10rem">

    <div class="container">
        <div class="card py-5 px-5 border-0 shadow-sm">
            <div class="card-body">
                <div class="row flex-center">
                    <div class="col-12 col-lg-6 text-lg-start">
                        <h2>Get in Touch</h2>
                        <p class="mb-lg-0">We're always excited to hear from you! Whether you have a question, feedback, feel free to drop us a line.</p>
                    </div>
                    <div class="col-12 col-lg-6 text-lg-end"><a
                            class="btn btn-lg btn-danger hover-top btn-glow text-end" href="#">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->