<div class="container">
    <div class="row d-flex flex-row mt-6">
        <div class="col-12 col-md-4">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title mt-2 fs-3">Trusted</h5>
                    <p class="card-text mt-2">It’s important you use a trustworthy proxy, which is why we are one of the
                        only proxy companies transparent about exactly who runs our service.

                        Our team has a long track record in security, having previously built Proton Mail — the world's
                        largest encrypted email service.

                        Whether challenging governments, educating the public, or training journalists, we have a long
                        history of fighting for privacy online and contributing to the open-source community.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title mt-2 fs-3">Independently audited</h5>
                    <p class="card-text mt-2">Although being open source means anyone can check our code, Smarter Guardians Proxy
                        also regularly commissions professional audits for all our full-release software from
                        independent security experts.

                        Unlike some proxy companies, we publish the full results of these audits online for all to see.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title mt-2 fs-3">Reliable</h5>
                    <p class="card-text mt-2">Bypass government censorship and other content restrictions with
                        Smarter Guardians Proxy. Simply connect to one of our proxy servers located in a country that doesn’t
                        censor the internet.

                        We’ve developed a new proxy protocol, Stealth, that can avoid detection and let you bypass
                        internet censorship and proxy blocks.</p>
                </div>
            </div>
        </div>
    </div>
</div>