<div class="d-flex flex-column flex-md-row gap-5 p-4 mt-n-10">
    <div class="col">
        <img class="w-100"
            src="/assets/img/global-1.png"
            alt="image">
    </div>

    <div class="col mt-7 ml-3">
        <p class="fs-3 "><b>Strong</b> encryption</p>
        <p class="fs-1 mt-4">We use only the strongest encryption to protect your internet connection. This means we
            encrypt all your network traffic with AES-256, exchange keys with 4096-bit RSA, and use HMAC with SHA384
            for message authentication.
        </p>
    </div>
</div>