<section class="">
    <div class="container">
        <div class="row d-flex flex-row mt-6">
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title mt-2 fs-3">Forward secrecy</h5>
                        <p class="card-text mt-2">We have carefully selected our encryption cipher suites to include
                            only ones with perfect forward secrecy.

                            This means that your encrypted traffic cannot be captured and decrypted later if the
                            encryption key from a subsequent session gets compromised.

                            We generate a new encryption key each time you connect to the proxy, so a key is never used
                            for more than one session.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title mt-2 fs-3">Strong protocols</h5>
                        <p class="card-text mt-2">We use only the strongest encryption to protect your internet
                            connection.

                            This means we encrypt all your network traffic with AES-256, exchange keys with 4096-bit
                            RSA, and use HMAC with SHA384 for message authentication.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title mt-2 fs-3">Full disk encryption</h5>
                        <p class="card-text mt-2">Although they store virtually no personally identifiable data, we
                            protect all Smarter Guardians Proxy servers with full disk encryption.

                            This helps protect them against resource-intensive man-in-the-middle attacks that
                            governments can perform.

                            Full disk encryption protects server certificates and all other configurations and software
                            stored on our exit servers so that attackers cannot access any data, even if one was somehow
                            compromised.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>