<div class="accordion mt-5" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Note
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="reference-description" id="headlessui-disclosure-panel-:R59e9:" data-headlessui-state="open">
          <ul class="list-disc pl-5">
            <li>CyberGhost <a rel="noopener noreferrer" target="_blank"
                href="https://www.cyberghostvpn.com/en_US/privacyhub/privacy-audit/">claims to be audited<span
                  class="sr-only">(new window)</span></a> by security firm Deloitte. CyberGhost customers can request
              the report directly from Deloitte, but it is not otherwise publicly available .</li>
            <li>Nord Security’s true ownership (and therefore its ultimate jurisdiction) is <a rel="noopener noreferrer"
                target="_blank"
                href="https://www.zdnet.com/article/meet-nordsec-the-company-behind-nordvpn-wants-to-be-your-one-stop-privacy-suite/">very
                uncertain<span class="sr-only">(new window)</span></a>.</li>
            <li>Nord VPN claims to have had three no-logs audits (last one <a rel="noopener noreferrer" target="_blank"
                href="https://nordvpn.com/blog/nordvpn-audit/">here<span class="sr-only">(new window)</span></a>). Only
              Nord VPN customers can access the “full assurance report” on it’s website.</li>
            <li>Kape Technologies is based in the UK and also <a rel="noopener noreferrer" target="_blank"
                href="https://www.cnet.com/tech/services-and-software/what-is-kape-technologies-what-you-need-to-know-about-the-parent-company-of-cyberghost-vpn/">owns<span
                  class="sr-only">(new window)</span></a> Private Internet Access and ZenMate VPN.<br><br>Last updated:
              December 2022</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>