<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Note
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="reference-description" id="headlessui-disclosure-panel-:R5be9:" data-headlessui-state="open">
          <ul class="list-disc pl-5">
            <li>CyberGhost has a <a rel="noopener noreferrer" target="_blank"
                href="https://support.cyberghostvpn.com/hc/en-us/articles/213834369-Refund-Policy-45-day-money-back-guarantee">14-day
                money-back guarantee<span class="sr-only">(new window)</span></a> for 1-month plans and a 45-day
              money-back guarantee for plans greater than 6 months.</li>
          </ul>
          <p>Last updated: December 2022</p>
        </div>
      </div>
    </div>
  </div>
</div>