<!-- <section> begin ============================-->
<section class="bg-100 py-7">

    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5 text-center mb-3">
                <h2>Choose Your Plan</h2>
                <p>Let's choose the package that is best for you and explore it happily and cheerfully.</p>
            </div>
        </div>
       
            <center>
                <span id="devices">  Devices:
                                        <select id="numbers">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </span>
                                    </center>
        <div class="row h-100 justify-content-center">
            <div class="col-md-3 pt-4 px-md-2 px-lg-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-around mx-auto">
                        <div class="text-center pt-5"><img class="img-fluid" src="/assets/img/icons/pricing.png"
                                alt="" />
                            <h5 class="my-4">1 Month Plan</h5>
                        </div>
                        <ul class="list-unstyled">
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Unlimited Bandwidth
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Encrypted Connection
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>No Traffic Logs
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Works on All Devices
                            </li>
                        </ul>
                     
                                                    <div class="text-center my-5">
                                                        <h2 class="mb-3" id="pr1">$20<span class="text-900"></span>
                                                        </h2>
                                                        <form action="https://account.smarterguardians.com/signup/" method="get">
                                <input type="hidden" name="plan" value="pro2024">
                                <input type="hidden" name="minimumCycle" value="1">
                                <input type="hidden" name="billing" id="n1"  value="1">
                                <input type="hidden" name="currency" value="USD">
                                                        <button class="btn btn-outline-danger rounded-pill" type="submit">Sign Up </button>
                                                        </form>
                                                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-4 px-md-2 px-lg-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-around mx-auto">
                        <div class="text-center pt-5"><img class="img-fluid" src="/assets/img/icons/pricing.png"
                                alt="" />
                            <h5 class="my-4">3 Months Plan</h5>
                        </div>
                        <ul class="list-unstyled">
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Unlimited Bandwidth
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Encrypted Connection
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Yes Traffic Logs
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Works on All Devices
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Connect Anyware
                            </li>
                        </ul>
                        <div class="text-center my-5">
                            <h2 class="mb-3">$40<span class="text-900"></span>
                            </h2>
                            <form action="https://account.smarterguardians.com/signup/" method="get">
                                <input type="hidden" name="plan" value="pro2024">
                                <input type="hidden" name="minimumCycle" value="3">
                                <input type="hidden" name="billing" id="n2" value="1">
                                <input type="hidden" name="currency" value="USD">
                                                        <button class="btn btn-outline-danger rounded-pill" type="submit">Sign Up </button>
                                                        </form>  </div>                      
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-4 px-md-2 px-lg-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-around mx-auto">
                        <div class="text-center pt-5"><img class="img-fluid" src="/assets/img/icons/pricing.png"
                                alt="" />
                            <h5 class="my-4">6 Months Plan</h5>
                        </div>
                        <ul class="list-unstyled">
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Unlimited Bandwidth
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Encrypted Connection
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Yes Traffic Logs
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Works on All Devices
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Connect Anyware
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Get New Features
                            </li>
                        </ul>
                        <div class="text-center my-5">
                            <h2 class="mb-3">$50<span class="text-900"></span>
                            </h2>
                            <form action="https://account.smarterguardians.com/signup/" method="get">
                                <input type="hidden" name="plan" value="pro2024">
                                <input type="hidden" name="minimumCycle" value="6">
                                <input type="hidden" name="billing" id="n3" value="1">
                                <input type="hidden" name="currency" value="USD">
                                                        <button class="btn btn-outline-danger rounded-pill" type="submit">Sign Up </button>
                                                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 pt-4 px-md-2 px-lg-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-around mx-auto">
                        <div class="text-center pt-5"><img class="img-fluid" src="/assets/img/icons/pricing.png"
                                alt="" />
                            <h5 class="my-4">12 Months Plan</h5>
                        </div>
                        <ul class="list-unstyled">
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Unlimited Bandwidth
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Encrypted Connection
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Yes Traffic Logs
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Works on All Devices
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Connect Anyware
                            </li>
                            <li class="mb-3"><span class="me-2">
                                    <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="#2FAB73" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z">
                                        </path>
                                    </svg></span>Get New Features
                            </li>
                        </ul>
                        <div class="text-center my-5">
                            <h2 class="mb-3">$70<span class="text-900"></span>
                            </h2>
                            <form action="https://account.smarterguardians.com/signup/" method="get">
                                <input type="hidden" name="plan" value="pro2024">
                                <input type="hidden" name="minimumCycle" value="12">
                                <input type="hidden" name="billing" id="n4" value="1">
                                <input type="hidden" name="currency" value="USD">
                                                        <button class="btn btn-outline-danger rounded-pill" type="submit">Sign Up </button>
                                                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
    <script>

        var selector = document.getElementById('numbers');
        
        selector.addEventListener('change', function() {
                if (selector.value === '2') {
                    document.querySelector('#pr1').innerText = '$36';
                    document.querySelector('#pr2').innerText = '$72';
                    document.querySelector('#pr3').innerText = '$90';
                    document.querySelector('#pr4').innerText = '$126';
                    document.querySelector('#dv1').innerText = 'Up to 2 Devices';
                    document.querySelector('#dv2').innerText = 'Up to 2 Devices';
                    document.querySelector('#dv3').innerText = 'Up to 2 Devices';
                    document.querySelector('#dv4').innerText = 'Up to 2 Devices';
                    document.querySelector('#n1').value = 2;
                    document.querySelector('#n2').value = 2;
                    document.querySelector('#n3').value = 2;
                    document.querySelector('#n4').value = 2;
                    
                } else if (selector.value === '3') {
                    document.querySelector('#pr1').innerText = '$54';
                    document.querySelector('#pr2').innerText = '$108';
                    document.querySelector('#pr3').innerText = '$135';
                    document.querySelector('#pr4').innerText = '$189';
                    document.querySelector('#dv1').innerText = 'Up to 3 Devices';
                    document.querySelector('#dv2').innerText = 'Up to 3 Devices';
                    document.querySelector('#dv3').innerText = 'Up to 3 Devices';
                    document.querySelector('#dv4').innerText = 'Up to 3 Devices';
                    document.querySelector('#n1').value = 3;
                    document.querySelector('#n2').value = 3;
                    document.querySelector('#n3').value = 3;
                    document.querySelector('#n4').value = 3;
                    
                }else if (selector.value === '4') {
                    document.querySelector('#pr1').innerText = '$72';
                    document.querySelector('#pr2').innerText = '$144';
                    document.querySelector('#pr3').innerText = '$180';
                    document.querySelector('#pr4').innerText = '$252';
                    document.querySelector('#dv1').innerText = 'Up to 4 Devices';
                    document.querySelector('#dv2').innerText = 'Up to 4 Devices';
                    document.querySelector('#dv3').innerText = 'Up to 4 Devices';
                    document.querySelector('#dv4').innerText = 'Up to 4 Devices';
                    document.querySelector('#n1').value = 4;
                    document.querySelector('#n2').value = 4;
                    document.querySelector('#n3').value = 4;
                    document.querySelector('#n4').value = 4;
                    
                }else{
                    document.querySelector('#pr1').innerText = '$20';
                    document.querySelector('#pr2').innerText = '$40';
                    document.querySelector('#pr3').innerText = '$50';
                    document.querySelector('#pr4').innerText = '$70';
                    document.querySelector('#dv1').innerText = 'Up to 1 Devices';
                    document.querySelector('#dv2').innerText = 'Up to 1 Devices';
                    document.querySelector('#dv3').innerText = 'Up to 1 Devices';
                    document.querySelector('#dv4').innerText = 'Up to 1 Devices';
                    document.querySelector('#n1').value = 1;
                    document.querySelector('#n2').value = 1;
                    document.querySelector('#n3').value = 1;
                    document.querySelector('#n4').value = 1;
                }
            });
        </script>
</section>
<!-- <section> close ============================-->