<div class="container page-container text-center mt-8">
    <h1>Smarter Guardians Proxy servers & locations</h1>
    <p>Smarter Guardians Proxy has one of the world's fastest and most extensive networks, with servers in all continents, offering
      truly global connectivity.</p>
    <div class="row justify-content-center">
      <div class="col-md-2 col-6 icon-text">
        <i class="bi bi-check-circle text-primary"></i> Open source, audited, and trusted
      </div>
      <div class="col-md-2 col-6 icon-text">
        <i class="bi bi-check-circle text-primary"></i> Advanced security & privacy features
      </div>
      <div class="col-md-2 col-6 icon-text">
        <i class="bi bi-check-circle text-primary"></i> Bypass sophisticated censorship
      </div>
      <div class="col-md-2 col-6 icon-text">
        <i class="bi bi-check-circle text-primary"></i> 10 Gbps capable servers
      </div>
    </div>
    <div class="row mt-5 text-center justify-content-center gap-3">
      <div class="col-md-2 col-12 p-2 fs-1 text-white" style="background-color: #F53838; padding-left: -100px; border-radius: 20px;">
        <div class="stats-number">91</div>
        <div class="stats-label">Countries</div>
      </div>
      <div class="col-md-2 col-12 p-2 fs-1 text-white" style="background-color: #F53838; padding-left: -100px; border-radius: 20px;">
        <div class="stats-number">4,988</div>
        <div class="stats-label">Servers</div>
      </div>
      <div class="col-md-2 col-12 p-2 fs-1 text-white" style="background-color: #F53838; padding-left: -100px; border-radius: 20px;">
        <div class="stats-number">5,836</div>
        <div class="stats-label">Gbps Capacity</div>
      </div>
    </div>
    <div class="mt-4">
      <button class="btn btn-custom btn-lg">Get Smarter Guardians Proxy</button>
    </div>
  </div>

