<section class="mt-2 "  >
    <div class="d-flex flex-column flex-md-row gap-5 p-2 m-5" style="background-color:#201939 ; border-radius: 30px;" >
        
        
        <div class="col">
            <p class="fs-6 mt-4 p-4 text-white">Secure your internet</p>
            <p class="fs-1 p-4 text-white">Get Smarter Guardian Proxy</p>
        </div>
        <div class="col  ml-3 text-white">
            <p class="fs-1 mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg>Strict no-logs policy</p>
            <p class="fs-1 mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg>All apps are open source and audited</p>
            <p class="fs-1 mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg>High-speed servers (up to 10 Gbps)</p>
            <p class="fs-1 mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg>Based in Switzerland</p>
            <p class="fs-1 mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg>30-day money-back guarantee</p>
        </div>
    </div>
</section>