<section class="">
    <div class="container">
        <div class="row d-flex flex-row mt-6">
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title mt-2 fs-3">Free proxy</h5>
                        <p class="card-text mt-2">We believe privacy and security are fundamental human rights, so we
                            also provide a free version of Smarter Guardians Proxy to the public.

                            Unlike other free proxys, there are no catches. We don't serve ads or secretly sell your
                            browsing history. We are able to provide Smarter Guardians Proxy Free thanks to people who subscribe to a
                            Smarter Guardians Proxy paid plan.

                            If you would like to support online privacy, please consider upgrading to a paid plan for
                            faster speeds and more features.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title mt-2 fs-3">Easy to use</h5>
                            <p class="card-text mt-2">The best security tools in the world will only protect you if used
                                correctly and consistently.

                                We have simplified the Smarter Guardians Proxy interface to make it as intuitive as possible on all
                                of your devices — so you can stay protected every day, hassle free.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title mt-2 fs-3">Reliable</h5>
                        <p class="card-text mt-2">Bypass government censorship and other content restrictions with
                            Smarter Guardians Proxy. Simply connect to one of our proxy servers located in a country that doesn’t
                            censor the internet.

                            We’ve developed a new proxy protocol, Stealth, that can avoid detection and let you bypass
                            internet censorship and proxy blocks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>