<section class="mt-n5 mb-n5" style="margin-top: -10%;">
    <div class="d-flex flex-column flex-md-row gap-5 p-4 mt-n-10" >
        
        <div class="col mt-7 ml-3">
            <p class="fs-6 mt-3">Unblock content worldwide</p>
            <p class="fs-1 mt-4">Smarter Guardians Proxy has thousands of secure proxy servers all around the world, including several free proxy servers.

                This ensures there is always a high-bandwidth server nearby no matter where you are connecting from, providing a low-latency proxy connection for browsing, streaming, and bypassing censorship.
            </p>
        </div>

        <div class="col">
            <img class="w-100" src="/assets/img/global-1.png"
                alt="image">
        </div>
    </div>
</section>