<div class="container">
    <div class="text-center ">
        <div class="text-center ">
            <p class="fs-4"><b>Here’s why we’re different</b> from other proxy providers</p>
            <p class="fs-3">When you use a proxy, it acts as a middleman between your device and the internet. It
                essentially takes over the role of your internet service provider and routes your data to the correct
                destination.</p>
        </div>
    </div>
    <div class="row d-flex flex-row mt-6">
        <div class="row d-flex flex-row mt-6">
            <div class="col-12 col-md-4 gap-2">
                <div class="card border-0">
                    <div class="d-flex flex-row m-1">
                        <div>
                            <h5 class="fs-1 card-title mt-2 text-black" style="margin-left: 10px;">Open source</h5>
                        </div>

                    </div>
                    <div class="card-body">
                        <p class="card-text">Our apps are 100% open source, so anyone can examine our code. This means
                            you can have confidence that our apps are doing what they are supposed to be doing, and only
                            what they are supposed to be doing.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="text-black card-title mt-2">Independently audited</h5>
                        <p class="card-text">We regularly submit our apps to third-party security audits and make the
                            results public. This way, everyone can get an independent expert’s review of our apps’
                            security.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="d-flex flex-row m-1">
                        <div>
                            <h5 class="fs-1 card-title mt-2 text-black" style="margin-left: 10px;">Strict no-logs policy
                            </h5>
                        </div>

                    </div>

                    <div class="card-body">
                        <p class="card-text ">Under Swiss law, we are not obligated to save any user connection logs,
                            nor can we be forced to perform targeted logging on specific users. This means that your
                            private browsing history stays private and cannot be turned over to a third-party.</p>
                    </div>
                </div>
            </div>
        </div>





        <div class="row d-flex flex-row mt-6">
            <div class="col-12 col-md-4 gap-2">
                <div class="card border-0">
                    <div class="d-flex flex-row m-1">
                        <div>
                            <h5 class="fs-1 card-title mt-2 text-black" style="margin-left: 10px;">Transparency</h5>
                        </div>

                    </div>
                    <div class="card-body">
                        <p class="card-text">We are transparent about who we are. Information about who owns the
                            company, where we run it from, our leadership team, what data we collect and how we use it,
                            and how we interact with law enforcement is all publicly available.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="text-black card-title mt-2">Swiss jurisdiction </h5>
                        <p class="card-text">Under Swiss law, we have no data retention requirements, and can also not
                            be forced to log your online activity. Switzerland is not part of surveillance agreements
                            such as the 5 Eyes or 14 Eyes, and under Swiss law, gag orders are not allowed.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0">
                    <div class="d-flex flex-row m-1">
                        <div>
                            <h5 class="fs-1 card-title mt-2 text-black" style="margin-left: 10px;">100% free proxy</h5>
                        </div>

                    </div>

                    <div class="card-body">
                        <p class="card-text ">We believe privacy should be accessible to all, which is why we have a
                            100% free proxy with no catches. Our free proxy has allowed people around the world to bypass
                            censorship and regain online freedom. It is financed thanks to the support of our paid
                            users.</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="fs-3 text-center mt-5 ">
            Because your proxy provider can see the websites you visit, it’s very important to choose a proxy that is trustworthy and secure.
        </p>
    </div>
</div>