<section class="mt-2 " style="margin-top: -10%;" >
    <div class="d-flex flex-column flex-md-row gap-5 p-4 m-5" style="background-color:#201939 ; border-radius: 30px;" >
        
        <div class="col mt-7 ml-3 text-white">
            <p class="fs-6 mt-3">Why Smarter Guardians proxy?</p>
            <p class="fs-1 mt-4">When you use a proxy, you're entrusting it with your privacy. Here's why you can trust us:</p>
            <p class="fs-1 mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg>Open source</p>
            <p class="fs-1 mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg> Independently audited</p>
            <p class="fs-1 mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg>Strict no-logs policy</p>
            <p class="fs-1 mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg>Transparent</p>
        </div>

        <div class="col">
            <img class="w-100" src="/assets/img/global-1.png"
                alt="image">
        </div>
    </div>
</section>